// https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/named-colors.html

@use "sass:color";

$colors: (
    accent_color: $base0F,
    accent_bg_color: $base0F,
    accent_fg_color: $base00,

    destructive_color: $base08,
    destructive_bg_color: $base08,
    destructive_fg_color: $base00,

    success_color: $base0B,
    success_bg_color: $base0B,
    success_fg_color: $base00,

    warning_color: $base0A,
    warning_bg_color: $base0A,
    warning_fg_color: $base00,

    error_color: $base08,
    error_bg_color: $base08,
    error_fg_color: $base00,

    window_bg_color: $base00,
    window_fg_color: $base05,

    view_bg_color: $base01,
    view_fg_color: $base05,

    headerbar_bg_color: $base02,
    headerbar_fg_color: $base04,
    headerbar_border_color: $base02,
    headerbar_backdrop_color: $base01,

    sidebar_bg_color: $base10,
    sidebar_fg_color: $base05,
    sidebar_backdrop_color: $base00,
    secondary_sidebar_bg_color: $base10,
    secondary_sidebar_fg_color: $base05,
    secondary_sidebar_backdrop_color: $base00,

    card_bg_color: $base01,
    card_fg_color: $base05,

    dialog_bg_color: $base02,
    dialog_fg_color: $base05,

    popover_bg_color: $base02,
    popover_fg_color: $base05,

    scrollbar_outline_color: $base02,
);

@each $name, $color in $colors {
    @define-color #{$name} #{$color};
}

window.background {
    border-radius: 0;
}

headerbar.default-decoration {
    margin-bottom: 50px;
    margin-top: -100px;
}

window.csd,
window.csd decoration {
    box-shadow: none;
}
