/* username background {{{ */
.cozy-3raOZG .headerText-3Uvj1Y > span::before {
  content: "";
  width: calc(100% + 7px);
  height: 100%;
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -3px;
}
.cozy-3raOZG .headerText-3Uvj1Y > span {
  margin-left: 3px;
}
/* }}} */

/* horizontally listed media {{{ */
[id*="message-accessories-"] {
  display: flex;
  flex-wrap: wrap;
}
[id*="message-accessories-"] > * {
  margin-right: 0.4em !important;
  min-height: 100% !important;
}
[id*="message-accessories-"] > div > a {
  display: flex;
  align-items: center;
  min-height: 100%;
  background-color: var(--background-secondary);
}
[id*="message-reactions"] {
  width: 100%;
}
/* }}} */

/* dumb little fixes {{{ */
.dropperIconButton-2shYII {
  width: 69px; /* discord uses this value too shut up */
}
.audioMetadata-3zOuGv::before {
  min-width: 24px;
}
.children-19S4PO .mention.iconMentionText-8GCluA {
  padding-left: 1rem !important;
}
.topic-TCb_qw > .wrapper-3WhCwL > .channelIcon-1MN1lz,
.embedFooterText-28V_Wb > .wrapper-3WhCwL > .channelIcon-1MN1lz {
  width: calc(1.05rem * 1.05 / 1.3);
  height: 1.05rem;
}
/* }}} */
