@use "sass:color";

@import url(https://raw.githubusercontent.com/refact0r/midnight-discord/refs/heads/master/build/midnight.css);

body {
    --font: #{$uiFont}, sans-serif;
    --code-font: #{$monoFont}, monospace;

    --gap: 2px;
    --divider-thickness: 2px;
    --border-thickness: 2px;

    --animations: on;
    --list-item-transition: 0.2s ease;
    --dms-icon-svg-transition: 0.4s ease;
    --border-hover-transition: 0.2s ease;

    --top-bar-height: var(--gap);
    --top-bar-button-position: hide;
    --top-bar-title-position: off;

    --custom-window-controls: off;

    --custom-dms-icon: off;

    --background-image: off;

    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;

    --custom-chatbar: aligned;
    --chatbar-height: 47px;
    --chatbar-padding: 8px;

    --small-user-panel: on;
}

:root {
    --colors: on;

    --text-0: #{$base00};
    --text-1: #{$base04};
    --text-2: #{$base05};
    --text-3: #{$base05};
    --text-4: #{$base05};
    --text-5: #{$base03};

    --bg-1: #{$base02};
    --bg-2: #{$base02};
    --bg-3: #{$base10};
    --bg-4: #{$base00};
    --hover: #{$base02};
    --active: #{$base02};
    --active-2: #{$base02};
    --message-hover: #{color.adjust($base02, $alpha: -0.5)};

    --accent-1: #{$base0F};
    --accent-2: #{$base0F};
    --accent-3: #{$base0F};
    --accent-4: #{$base0F};
    --accent-5: #{$base0F};
    --accent-new: #{$base08};
    --mention: #{color.adjust($base0F, $alpha: -0.95)};
    --mention-hover: #{color.adjust($base0F, $alpha: -0.9)};
    --reply: #{color.adjust($base0F, $alpha: -0.95)};
    --reply-hover: #{color.adjust($base0F, $alpha: -0.9)};

    --online: #{$base0B};
    --dnd: #{$base08};
    --idle: #{$base0A};
    --streaming: #{$base0E};
    --offline: #{$base03};

    --border-light: #{$base02};
    --border: #{$base00};
    --border-hover: #{$base02};
    --button-border: #{$base02};

    --red-1: #{$base08};
    --red-2: #{$base08};
    --red-3: #{$base08};
    --red-4: #{$base08};
    --red-5: #{$base08};

    --green-1: #{$base0B};
    --green-2: #{$base0B};
    --green-3: #{$base0B};
    --green-4: #{$base0B};
    --green-5: #{$base0B};

    --blue-1: #{$base0D};
    --blue-2: #{$base0D};
    --blue-3: #{$base0D};
    --blue-4: #{$base0D};
    --blue-5: #{$base0D};

    --yellow-1: #{$base0A};
    --yellow-2: #{$base0A};
    --yellow-3: #{$base0A};
    --yellow-4: #{$base0A};
    --yellow-5: #{$base0A};

    --purple-1: #{$base0E};
    --purple-2: #{$base0E};
    --purple-3: #{$base0E};
    --purple-4: #{$base0E};
    --purple-5: #{$base0E};

    --radius-lg: 8px;
}
