// * {
//     all: unset;
// }

window#waybar {
    background-color: $base00;
    color: $base05;
    font-family: $uiFont, $monoFont;
    font-size: small;
}

#tags {
    font-family: $monoFont;

    button {
        padding: 0 5px;
        background-color: $base02;
        color: $base03;
        border-radius: 0px;
        min-width: 0;
        font-weight: normal;
        transition: none;
    }

    button.occupied {
        color: $base0F;
    }

    button.focused {
        background-color: $base0F;
        color: $base00;
    }

    button.urgent {
        background-color: $base08;
        color: $base00;
    }
}

.modules-right {
    padding-right: 10px;
}

#tray {
    menu {
        background-color: $base02;
        padding: 5px;
    }

    .needs-attention {
        background-color: $base08;
    }
}

// #window {
//     margin-left: -10px;
// }
