* {
    all: unset;
}

.icon {
    font-family: $monoFont;
    font-size: 16px;
    min-width: 14px;
}

window {
    background-color: $base00;
    color: $base05;
    font-family: $uiFont;
    font-size: 14px;
}

.workspace,
.workspace-current {
    padding: 0 5px;
    font-family: $monoFont;
    font-size: 12px;
}

.workspace {
    background-color: $base02;
    color: $base03;
}

.workspace-current {
    background-color: $base0F;
    color: $base00;
}

graph {
    color: $base0F;
    background-color: $base0F;
}

graph.critical {
    color: $base08;
    background-color: $base08;
}

.graph {
    background-color: $base02;
}

.red {
    color: $base08;
}

scale {
    trough {
        min-height: 3px;
        border-radius: 10px;
        background-color: $base02;

        highlight {
            background-color: $base0F;
            border-radius: 10px;
            min-height: 12px;
        }
    }
}
