$vars: (
    "colorTabBar": $base10,
    "colorFg": $base05,
    "colorFgIntense": $base05,
    "colorFgFaded": $base04,
    "colorFgFadedMore": $base03,
    "colorFgFadedMost": $base0F,
    "colorBg": $base00,
    "colorBgAlpha": $base02,
    "colorBgAlphaBlur": $base10,
    "colorBgDark": $base02,
    "colorBgDarker": $base10,
    "colorBgLight": $base00,
    "colorBgLighter": $base02,
    "colorBgLightIntense": $base00,
    "colorBgIntense": $base01,
    "colorBgIntenser": $base10,
    "colorBgInverse": $base01,
    "colorBgInverser": $base02,
    "colorBgFaded": $base00,
    "colorHighlightBg": $base0F,
    "colorHighlightBgDark": $base02,
    "colorHighlightFg": $base05,
    "colorAccentBg": $base0F,
    "colorAccentBgAlpha": $base02,
    "colorAccentBgAlphaHeavy": $base00,
    "colorAccentBgDark": $base02,
    "colorAccentBgDarker": $base01,
    "colorAccentBgFaded": $base00,
    "colorAccentBgFadedMore": $base01,
    "colorAccentBgFadedMost": $base02,
    "colorAccentBorder": $base01,
    "colorAccentBorderDark": $base02,
    "colorAccentFg": $base04,
    "colorAccentFgFaded": $base04,
    "colorBorder": $base02,
    "colorBorderDisabled": $base01,
    "colorBorderSubtle": $base01,
    "colorBorderIntense": $base0F,
    "colorSuccessBg": $base0B,
    "colorSuccessFg": $base00,
    "colorWarningBg": $base09,
    "colorWarningFg": $base00,
    "colorErrorBg": $base08,
    "colorErrorFg": $base00,
    "colorWindowBg": $base00,
    "colorWindowFg": $base05,
);

#browser {
    @each $name, $color in $vars {
        --#{$name}: #{$color} !important;
    }
    --radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
    background: $base02 !important;
}

.UrlFragment-Wrapper--ShouldHighlight {
    --HighlightColor: #{$base05};
    --LowlightColor: #{$base03};
}

.tab.active {
    background-color: $base0F !important;
    color: $base00 !important;
}

.OmniLinkItem--Highlighted {
    color: $base00 !important;
}
