@use "sass:color";

:root {
    --SKIN-skin: "base24";
    --SKIN-author: "bandithedoge";
    --SKIN-wallpaper: none;
    --SKIN-wallpaper-opacity: 1;
    --SKIN-primary-font: #{$uiFont};
    --SKIN-display-font: #{$uiFont};
}

.theme-dark {
    --SKIN-lightness: 0%;

    --SKIN-grading-0: 0%;
    --SKIN-grading-1: 3%;
    --SKIN-grading-2: 6%;
    --SKIN-grading-3: 9%;

    --SKIN-interactive-h: #{hue($base05)};
    --SKIN-interactive-s: #{saturation($base05)};
    --SKIN-interactive-l: #{lightness($base05)};
    --SKIN-interactive-a: 1;

    --SKIN-background-h: #{hue($base00)};
    --SKIN-background-s: #{saturation($base00)};
    --SKIN-background-l: #{lightness($base00)};
    --SKIN-background-a: 1;

    --SKIN-accent-h: #{hue($base0F)};
    --SKIN-accent-s: #{saturation($base0F)};
    --SKIN-accent-l: #{lightness($base0F)};
    --SKIN-accent-a: 1;

    --SKIN-green-h: #{hue($base0B)};
    --SKIN-green-s: #{saturaion($base0B)};
    --SKIN-green-l: #{lightness($base0B)};
    --SKIN-green-a: 1;

    --SKIN-yellow-h: #{hue($base0A)};
    --SKIN-yellow-s: #{saturation($base0A)};
    --SKIN-yellow-l: #{lightness($base0A)};
    --SKIN-yellow-a: 1;

    --SKIN-red-h: #{hue($base08)};
    --SKIN-red-s: #{saturation($base08)};
    --SKIN-red-l: #{lightness($base08)};
    --SKIN-red-a: 1;

    --SKIN-purple-h: #{hue($base0E)};
    --SKIN-purple-s: #{saturation($base0E)};
    --SKIN-purple-l: #{lightness($base0E)};
    --SKIN-purple-a: 1;
}

@import url("https://crearts-community.github.io/CreArts-Discord/skins/shape/slim/squircle.css");

@import url("https://crearts-community.github.io/CreArts-Discord/modules/alignment/left/divided.css");

@import url("https://crearts-community.github.io/CreArts-Discord/modules/addons/context-icons.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/addons/settings-icons.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/addons/discolored.css");

@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/fonts.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/replace/edited.css");

@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/help.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/download.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/gift.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/sticker.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/button/gif.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/menu/payment-flow-modals.css");
@import url("https://crearts-community.github.io/CreArts-Discord/modules/remove/public-tag.css");

@import url("https://crearts-community.github.io/CreArts-Discord/src/source.css");

.container-YkUktl {
    .avatarWrapper-1B9FTW,
    .nameTag-sc-gpq {
        background: none;
    }

    .nameTag-sc-gpq {
        height: 38px;
    }
}
